* {
  padding: 0;
  margin: 0;
}
body {
  background: #aaaef2;
  color: #000000;
}

.tbl-container {
  max-width: fit-content;
  max-height: fit-content;
}

.tbl-fixed {
  overflow-x: scroll;
  overflow-y: scroll;
  height: fit-content;
  max-height: 70vh;
}

table {
  min-width: max-content;
  border-collapse: separate;
}

table th {
  position: sticky;
  top: 0px;
  text-align: center;
  font-size: 16px;
  z-index: 2;
}

td:first-child,
th:first-child {
  position: sticky;
  left: 0px;
  z-index: 1px;
}

th:first-child {
  z-index: 3;
}
